* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
}

form {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  border-radius: 5px;
  border: 2px solid #2196F3;
  max-width: 400px;
  min-width: 100px;
  padding: 20px;
  flex-flow: column wrap;
  margin: 100px 0 40px 10px;
  overflow: hidden;
}

hr {
  margin: 0 10px 0 10px;
  border: 1px solid #2196F3;
}

.title {
  font-weight: bold;
  letter-spacing: 5px;
  margin: 20px 0 0 15px;
  text-transform: uppercase;
}